/* ---------------------------------------------------------------------------------- DESKTOP */
body {
  background-position: top;
  background-size: contain;
  font-family: 'Poppins', sans-serif;
}

.boxed-page {
  padding: 50px 150px 10px;
  background-color: #000000a8;
}

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
  color: #ffecef;
}

a:hover {
  text-decoration: none;
}

/*----------------------------------------- NOMBRE - DG - FE*/
.PM {
  color: #f56464;
}

.tituloPrincipal {
  margin-bottom: 50px;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

.tituloPrincipal p {
  margin-top: 50px;
  font-size: 25px;
}

.manejo {
  color: #f56464;
}

/*----------------------------------------- HERRAMIENTAS*/
.icons {
  text-align: center;
  transition: transform 0.2s;
}

.iconText {
  font-size: 15px;
  padding-top: 10px;
}

.PNG {
  max-width: 50px;
}

.icons:hover {
  transform: scale(1.2);
}

.fa-brands {
  font-size: 50px;
  color: #ffcaca;
}


.herramientas {
  background-color: #180f0f;
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.534) 0px 5px 35px;
}

.tituloHerramienta {
  margin-bottom: 30px;
}

.herramientas div {
  padding-bottom: 5px;
}

/*----------------------------------------- SECCION TRABAJOS FRONT END */

.imgTextFE {
  display: flex;  
  margin-bottom: 30px;
  gap: 30px;
}

.FE {
  color: #9EA1D4;
}

.tituloFE {
  margin: 30px;
}

.imgTextFEultima {
  display: flex;
  gap: 30px;  
}

.HerramientasFE {
  display: flex;
  align-items: center;
}

.HerramientasFE i {
  transition: transform 0.2s;
}

.HerramientasFE i:hover {
  transform: scale(1.2);
}

button {
  border: none;
  border-radius: 5px;
  background-color: #9EA1D4;
  color:#ffecef;
}

.imageFE:hover {
  transform: scale(1.2);
}

.textFE i {
  margin-left: 15px;
  font-size: 20px;
  color: #9EA1D4;
}

.textFE {
  width: 60%;
  height: auto; 
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
  background-color: #180f0f;
  box-shadow: rgba(0, 0, 0, 0.658) 0px 5px 35px;
}

.cajaDeImagen {  
  width: 40%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
}

.imageFE {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s;
}


/*----------------------------------------- SECCION DE DISEÑO GRAFICO */

.tituloDG {
  margin: 30px;
}

.DG {
  color: #F1F7B5;
}

.imageDG {
  width: 30%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

.imageTexto {
  width: 30%;
  text-align: center;
}

.textosDG {
  margin: 15px 0 30px;
  font-size: 25px;
}

/* ------------- MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.795);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}


#modal-image {
  height: 650px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

/*----------------------------------------- FOOTER */

footer {
  border-radius: 10px;
  padding: 30px;
  background-color: #180f0f;
  box-shadow: rgba(0, 0, 0, 0.534) 0px 5px 35px;
  margin: 40px 0;
}

footer i:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

/* ---------------------------------------------------------------------------------- TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
  .boxed-page {
    margin: 0%;
    padding: 0%;
    background-color: #000000a8;
  }

  p {
    font-size: 18px;
  }

  /*----------------------------------------- NOMBRE - DG - FE*/
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

  .tituloPrincipal p {
    margin-top: 30px;
    font-size: 20px;
  }

  .brDeTitulo {
    display: none;
  }

  /*----------------------------------------- HERRAMIENTAS*/

  .icons {
    margin: 5px;
  }

  .iconText {
    font-size: 10px;
    padding-top: 15px;
  }

  .PNG {
    max-width: 40px;
  }

  .fa-brands {
    font-size: 40px;
  }

  /*----------------------------------------- SECCION TRABAJOS FRONT END */

  .imgTextFE {
    display: block;
    gap: 0;
  }

  .textFE {
    text-align: justify;
    width: 100%;
    border-radius: 10px;
    background-color: #180f0f;
    box-shadow: rgba(0, 0, 0, 0.658) 0px 5px 35px;
    margin-bottom: 30px;
  }

  .imageFE {
    width: 100%;
    object-fit: cover;
  }

  .cajaDeImagen {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .ordenEnMovil {
    display: flex;
    flex-direction: column-reverse;
  }


  /*----------------------------------------- SECCION DE DISEÑO GRAFICO */

  .imageDG {
    width: 30%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    object-fit: cover;
  }

  .imageTexto {
    width: 30%;
    text-align: center;
  }

  .textosDG {
    text-align: center;
    padding: 15px;
    font-size: 22px;
  }

  #modal-image {
    width: 650px;
    height: auto;
    border-radius: 10px;
  }

}

/* ---------------------------------------------------------------------------------- MOVIL */

@media (min-width: 320px) and (max-width: 480px) {

  .boxed-page {
    padding: 80px 10px 20px;
    margin: 0;
    background-color: #000000a8;
  }

  p {
    font-size: 18px;
  }

  /*----------------------------------------- NOMBRE - DG - FE*/
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

  .tituloPrincipal p {
    margin-top: 30px;
    font-size: 20px;
  }

  .brDeTitulo {
    display: none;
  }

  /*----------------------------------------- HERRAMIENTAS*/

  .icons {
    margin: 5px;
  }

  .iconText {
    font-size: 10px;
    padding-top: 15px;
  }

  .PNG {
    max-width: 40px;
  }

  .fa-brands {
    font-size: 40px;
  }

  /*----------------------------------------- SECCION TRABAJOS FRONT END */

  .imgTextFE {
    display: block;
    gap: 0;
  }

  .textFE {
    text-align: justify;
    width: 100%;
    border-radius: 10px;
    background-color: #180f0f;
    box-shadow: rgba(0, 0, 0, 0.658) 0px 5px 35px;
    margin-bottom: 30px;
  }

  .imageFE {
    width: 100%;
    height: 200px;
  }

  .cajaDeImagen {
    width: 90%;
    height: 200px;
    border-radius: 10px;
    margin: auto;
  }

  .ordenEnMovil {
    display: flex;
    flex-direction: column-reverse;
  }


  /*----------------------------------------- SECCION DE DISEÑO GRAFICO */

  .textosDG {
    text-align: center;
    font-size: 22px;
    width: 90%;
  }

  #modal-image {
    width: 350px;
    height: auto;
    border-radius: 10px;
  }

  .imageDG {
    width: 85%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
  }



}